.App {
  text-align: center;
}

h1{
  font-size: 2.4em;
}

button{
  cursor: pointer;
}

.reset-btn{
  background: rgba(128, 128, 128, 0.517);
  border-radius: 10px;
  border-style: none;
  height: 40px;
  width: 80px;
  font-size: 0.8em;
  font-weight: 600;
}

.content{
  display: flex;
  justify-content: space-around;
}

.status{
  font-size: 1.2em;
}

.reset-btn:hover {
  background-color: rgba(169, 169, 169, 0.633);
}
